*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(../IMG/hp\ background.jpg);
    background-size: cover;
    background-position: center;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
}

.small-container h1{
    color: white;
    white-space: nowrap;
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 2%;
    font-size: 60px;
    font-family: 'Cinzel Decorative', cursive;
}

.map{
    width: 760px;
    margin-left: 13%;
}